#!/usr/bin/make -f
#
# Modified by iprofeta@debian.org to use debhelper Tue Aug 02 2005 
# Modified by preining@logic.at 28.08.2005
#
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

package=cm-super
x11package=cm-super-x11

SHELL = /bin/bash
CMD=debian/$(package)/usr/share/texmf/fonts/type1/public/cm-super/cm-super.t1c
CMT=cm-super.t1c

MAPLOCATION=usr/share/texmf/fonts/map/dvips/cm-super
ENCLOCATION=usr/share/texmf/fonts/enc/dvips/cm-super
CONFIGLOCATION=usr/share/texmf/dvips/config

####################
#
# Main Targets
#
####################

build: build-stamp

install: install-stamp

binary: binary-indep binary-arch

###################
#
# Sub targets
#
###################
build-stamp:
	dh_testdir
	$(MAKE) -f debian/rules $(CMT)
	touch build-stamp

$(CMT):
	mkdir -p $(dir $(CMT))
	touch $(CMT)
	(cd pfb; for F in *.pfb; do echo "$$F" >&2; pfb2t1c "$$F"; done) >$@

clean: debian/control
	dh_testdir
	dh_testroot
	-rm -f build-stamp install-stamp install-stamp-cmsuper 
	-rm -f install-stamp-cmsuperx11
	-$(MAKE) clean
	-rm -f debian/$(x11package).links
	dh_clean
	-rm -f cm-super.t1c

install-stamp: install-stamp-cmsuper install-stamp-cmsuperx11
	touch install-stamp

install-stamp-cmsuperx11: build-stamp
	dh_testdir
	dh_testroot
	dh_installdirs
	for i in pfb/*1000.pfb pfb/*10.pfb ; do \
		bn=`basename $$i` ; \
		echo "usr/share/texmf/fonts/type1/public/cm-super/$$bn usr/X11R6/lib/X11/fonts/Type1/$$bn" >> debian/$(x11package).links ; \
	done
	for i in afm/*1000.afm.gz afm/*10.afm.gz ; do \
		bn=`basename $$i .gz` ; \
		gunzip -c $$i > debian/$(x11package)/usr/share/texmf/fonts/afm/public/cm-super/$$bn ; \
		echo "usr/share/texmf/fonts/afm/public/cm-super/$$bn usr/X11R6/lib/X11/fonts/Type1/$$bn" >> debian/$(x11package).links ; \
	done
	# install the override file for lintian
	cp debian/$(x11package).override debian/$(x11package)/usr/share/lintian/overrides/$(x11package)
	cp debian/fonts.scale debian/$(x11package)/etc/X11/fonts/Type1/cm-super-x11.scale
	touch install-stamp-cmsuperx11


install-stamp-cmsuper: build-stamp
	dh_testdir 
	dh_testroot
	dh_installdirs
	cd pfb ; for i in *.pfb ; do \
		touch ../debian/$(package)/usr/share/texmf/fonts/type1/public/cm-super/$$i ; \
	done
	ln $(CMT) $(CMD)
# ^^^ ln occupies less space on disk than cp_r
	chown 0.0 $(CMT)
	cp type1ec.sty debian/$(package)/usr/share/texmf/tex/latex/cm-super
	#
	cp dvips/*.map debian/$(package)/$(MAPLOCATION)/
	cp dvips/*.enc debian/$(package)/$(ENCLOCATION)/
	cp dvips/config.cm-super debian/$(package)/$(CONFIGLOCATION)/

	# use dh_installtex instead of manual installation
	#cp debian/updmap-config.cfg debian/$(package)/etc/texmf/updmap.d/50$(package).cfg
	#echo "50$(package)" > debian/$(package)/var/lib/tex-common/fontmap-cfg/$(package).list
	dh_installtex --priority=50 map=MixedMap,cm-super-t1.map	\
				    map=MixedMap,cm-super-t2a.map	\
				    map=MixedMap,cm-super-t2b.map	\
				    map=MixedMap,cm-super-t2c.map	\
				    map=MixedMap,cm-super-ts1.map	\
				    map=MixedMap,cm-super-x2.map

	# install the override file for lintian
	cp debian/$(package).override debian/$(package)/usr/share/lintian/overrides/$(package)
	touch install-stamp-cmsuper


binary-indep:  build install
	dh_testdir
	dh_testroot
	dh_installdocs FAQ README TODO debian/README.teTeX2
	dh_installchangelogs ChangeLog
	dh_link
	dh_installxfonts --package=$(x11package)
	dh_installdefoma --package=$(x11package)
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	# make md5sums for all but the pfb files and the t1c file
	dh_md5sums -X usr/share/texmf/fonts/type1/public/cm-super
	# create the correct md5sums for the files generated on postinst
	( cd pfb ; for i in *.pfb ; do cat $$i | md5sum - | sed -e "s|-|usr/share/texmf/fonts/type1/public/cm-super/$$i|" ; done ) >> debian/$(package)/DEBIAN/md5sums
	# add the md5sum for the t1c file
	( cd debian/$(package) ; md5sum usr/share/texmf/fonts/type1/public/cm-super/cm-super.t1c ) >> debian/$(package)/DEBIAN/md5sums
	dh_builddeb

binary-arch:


.PHONY: build clean binary-indep binary-arch binary install
