#!/usr/bin/make -f
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=5

package=cm-super
minpackage=cm-super-minimal
x11package=cm-super-x11

SHELL = /bin/bash
NORMALTC=cm-super.t1c
MINIMALTC=cm-super-minimal.t1c
DEBNORMALTC=debian/$(package)/usr/share/cm-super/cm-super.t1c
DEBMINIMALTC=debian/$(package)/usr/share/cm-super/cm-super-minimal.t1c

MAPLOCATION=usr/share/texmf/fonts/map/dvips/cm-super
ENCLOCATION=usr/share/texmf/fonts/enc/dvips/cm-super
CONFIGLOCATION=usr/share/texmf/dvips/config

####################
#
# Main Targets
#
####################

build: build-stamp

install: install-stamp

binary: binary-indep binary-arch


MINFILES=				\
	cm-super-minimal-t1.map		\
	cm-super-minimal-t2a.map	\
	cm-super-minimal-t2b.map	\
	cm-super-minimal-t2c.map	\
	cm-super-minimal-ts1.map	\
	cm-super-minimal-x2.map		\
	
###################
#
# Sub targets
#
###################
build-stamp:
	dh_testdir
	$(MAKE) -f debian/rules cm-super.t1c cm-super-minimal.t1c
	$(MAKE) -f debian/rules minimal-files
	touch build-stamp

minimal-files:
	
$(MINIMALTC):
	mkdir -p $(dir $(MINIMALTC))
	touch $(MINIMALTC)
	(cd pfb; for F in `cat ../debian/fonts.cm-super-minimal`; do echo "$$F" >&2; pfb2t1c "$$F"; done) >$@

$(NORMALTC):
	mkdir -p $(dir $(NORMALTC))
	touch $(NORMALTC)
	(cd pfb; for F in *.pfb; do \
		if ! grep -q "$$F" ../debian/fonts.cm-super-minimal ; then \
			echo "$$F" >&2; pfb2t1c "$$F"; \
		fi ; done) >$@

clean: debian/control
	dh_testdir
	dh_testroot
	-rm -f build-stamp install-stamp install-stamp-cmsuper 
	-rm -f install-stamp-cmsuperx11
	-$(MAKE) clean
	-rm -f debian/$(x11package).links
	dh_clean
	-rm -f cm-super.t1c

install-stamp: install-stamp-cmsuper install-stamp-cmsuperx11
	touch install-stamp

install-stamp-cmsuperx11: build-stamp
	dh_testdir
	dh_testroot
	dh_installdirs	--package=$(x11package)			\
		usr/share/texmf/fonts/afm/public/cm-super	\
		usr/share/fonts/X11/Type1
	for i in `cat debian/fonts.cm-super-minimal` ; do \
		bn=`basename $$i .pfb` ; \
		echo "usr/share/texmf/fonts/type1/public/cm-super/$$bn.pfb usr/share/fonts/X11/Type1/$$bn.pfb" >> debian/$(x11package).links ; \
		gunzip -c afm/$$bn.afm.gz > debian/$(x11package)/usr/share/texmf/fonts/afm/public/cm-super/$$bn.afm ; \
		echo "usr/share/texmf/fonts/afm/public/cm-super/$$bn.afm usr/share/fonts/X11/Type1/$$bn.afm" >> debian/$(x11package).links ; \
	done
	# 
	dh_installdirs  --package=$(x11package)  etc/X11/fonts/Type1
	cp debian/fonts.scale debian/$(x11package)/etc/X11/fonts/Type1/cm-super-x11.scale
	touch install-stamp-cmsuperx11


install-stamp-cmsuper-minimal: build-stamp
	dh_testdir
	dh_testroot
	dh_installdirs  --package=$(minpackage)		\
		usr/share/texmf/fonts/type1/public/cm-super	\
		usr/share/texmf/fonts/enc/dvips/cm-super	\
		usr/share/texmf/fonts/map/dvips/cm-super	\
		usr/share/texmf/dvips/config			\
		usr/share/texmf/tex/latex/cm-super		\
		usr/share/lintian/overrides			\
		usr/share/cm-super
	cd pfb ; for i in *.pfb ; do \
		if ! grep -q "$$F" ../debian/fonts.cm-super-minimal ; then \
			touch ../debian/$(minpackage)/usr/share/texmf/fonts/type1/public/cm-super/$$i ; \
		fi ; done) >$@
	done
	ln $(DEBMINIMALTC) $(MINIMALTC)
	chown 0.0 $(MINIMALTC)
	cp type1ec.sty debian/$(minpackage)/usr/share/texmf/tex/latex/cm-super
	#
	cp dvips/*-minimal.map debian/$(minpackage)/$(MAPLOCATION)/
	cp dvips/*.enc debian/$(minpackage)/$(ENCLOCATION)/
	cp dvips/config.cm-super-minimal debian/$(minpackage)/$(CONFIGLOCATION)/

	dh_installtex --package=$(minpackage) --priority=50	\
				map=MixedMap,cm-super-minimal-t1.map	\
				map=MixedMap,cm-super-minimal-t2a.map	\
				map=MixedMap,cm-super-minimal-t2b.map	\
				map=MixedMap,cm-super-minimal-t2c.map	\
				map=MixedMap,cm-super-minimal-ts1.map	\
				map=MixedMap,cm-super-minimal-x2.map

	# install the override file for lintian
	cp debian/$(minpackage).override debian/$(minpackage)/usr/share/lintian/overrides/$(minpackage)
	touch install-stamp-cmsuper-minimal


binary-indep:  build install

install-stamp-cmsuper: build-stamp
	dh_testdir 
	dh_testroot
	dh_installdirs	--package=$(package)			\
		usr/share/texmf/fonts/type1/public/cm-super	\
		usr/share/texmf/fonts/enc/dvips/cm-super	\
		usr/share/texmf/fonts/map/dvips/cm-super	\
		usr/share/texmf/dvips/config			\
		usr/share/texmf/tex/latex/cm-super		\
		usr/share/lintian/overrides			\
		usr/share/cm-super
	cd pfb ; for i in *.pfb ; do \
		touch ../debian/$(package)/usr/share/texmf/fonts/type1/public/cm-super/$$i ; \
	done
	ln $(DEBNORMALTC) $(NORMALTC)
	# ^^^ ln occupies less space on disk than cp_r
	chown 0.0 $(NORMALTC)
	#
	cp dvips/*.map debian/$(package)/$(MAPLOCATION)/
	cp dvips/*.enc debian/$(package)/$(ENCLOCATION)/
	cp dvips/config.cm-super debian/$(package)/$(CONFIGLOCATION)/

	dh_installtex --package=$(package) --priority=50	\
				map=MixedMap,cm-super-t1.map	\
				map=MixedMap,cm-super-t2a.map	\
				map=MixedMap,cm-super-t2b.map	\
				map=MixedMap,cm-super-t2c.map	\
				map=MixedMap,cm-super-ts1.map	\
				map=MixedMap,cm-super-x2.map

	# install the override file for lintian
	cp debian/$(package).override debian/$(package)/usr/share/lintian/overrides/$(package)
	touch install-stamp-cmsuper


binary-indep:  build install
	dh_testdir
	dh_testroot
	dh_installdocs FAQ README TODO debian/README.teTeX2
	dh_installchangelogs ChangeLog
	dh_link
	dh_installxfonts --package=$(x11package)
	dh_installdefoma --package=$(x11package)
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	# make md5sums for all but the pfb files and the t1c file
	dh_md5sums -X usr/share/texmf/fonts/type1/public/cm-super -X usr/share/cm-super
	# create the correct md5sums for the files generated on postinst
	( cd pfb ; for i in *.pfb ; do cat $$i | md5sum - | sed -e "s|-|usr/share/texmf/fonts/type1/public/cm-super/$$i|" ; done ) >> debian/$(package)/DEBIAN/md5sums
	# add the md5sum of the empty file (t1c will be emptied on postinst)
	echo "d41d8cd98f00b204e9800998ecf8427e  usr/share/cm-super/cm-super.t1c" >> debian/$(package)/DEBIAN/md5sums
	dh_builddeb

binary-arch:


.PHONY: build clean binary-indep binary-arch binary install
